#wrapwrap {
  .s_newsletter_subscribe_form {
      .btn {
        margin-left: 12px;
        border-radius: 0 10px 10px 0;
      }
      .btn, input {
        border: none !important;
      }
    }

}
  