//------------------------------------------------------------------------------
// Website customizations
//------------------------------------------------------------------------------

$o-website-values-palettes: (
  (
    "color-palettes-name": "airproof",
    "font": "Lato",
    // "headings-font": "Space Grotesk",
    'headings-font': 'Space Grotesk',
    // "font-size": 5rem,
    // "font-size": calc(1.525rem + 3.3vw),
    // "h1-font-size": calc(1.525rem + 3.3vw),
    // 'display-1-font': 'Lato',
    "navbar-font": "Lato:700",
    "buttons-font": "Poppins",
    // "h1-font": "Space Grotesk",
    "h2-font": "Poppins",
    "h5-font": "Poppins",
    "btn-padding-y": 0.75rem,
    // "btn-border-radius": 0px, 10px, 10px, 10px,
    "btn-font-size": 1.25rem,
    "btn-secondary-outline": True,
    'font-size-base': 0.875rem,
    'small-font-size': 0.625rem,
  ),
);
//------------------------------------------------------------------------------
// Fonts
//------------------------------------------------------------------------------

$o-theme-font-configs: (

  "Lato": (
        'family': ("Lato", sans-serif),
        'url': 'Lato:600,700,800',
  ),

  "Space Grotesk": (
    'family': (
      "Space Grotesk",
     sans-serif),
    
      'url': 'Space Grotesk:500,700',
      'h1-font-size': 5rem,
     'h2-font-size': 3.125rem,
    

    "properties": (
      'base': (
        // "font-size: 2.5rem;"
        // "font-size": 80px,
        'header-font-size':         (15 / 80) * 5rem,
        // 'font-size-base':           (15 / 80) * 5rem,
       'font-size-base':            5rem,
        "line-height": 5rem,
      ),
    )
  )
)    
// $o-default-snippet-text-display-3 (
// font-family:  
// color: $font-color;
//   margin-top: 20px;
// )
  



  "Proxima Nova": (
    "family": (
      "Proxima Nova Regular",
      sans-serif,
    ),
    "properties": (
      "base": (
        "font-size-base": 1rem,
        
      ),
    ),
  ),
);

$o-color-palettes: map-merge(
  $o-color-palettes,
  (
    "airproof": (
      "o-color-1": #CEF8A1,
      "o-color-2": #BBE1FA,
      "o-color-3": #8F8F8F,
      "o-color-4": #ffffff,
      "o-color-5": #000000,
    ),
  )
);

$o-selected-color-palettes-names: append(
  $o-selected-color-palettes-names,
  "airproof"
);
