#wrapwrap {
  
  .navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active, .x_underline {
    border-bottom: 2px solid o-color('o-color-3');
  }

  .js_language_selector {
    margin: 0px !important;
    padding: 0.5rem;
    button:hover {
      background-color: #FFFFFF;
    }
    span, .dropdown-item {
      text-transform: uppercase !important;
      background-color: #FFFFFF;
      color: black;
    }
  }

  #top_menu_collapse .dropdown-toggle::after, .js_language_selector .dropdown-toggle::after {
    content: '';
    background-image: url('/web/image/website_airproof_ecommerce.img_angle_down');
    border: none;
    vertical-align: middle;
    width: 10px;
    height: 10px;
  }

  // *** Menu details ***
  .o_mega_menu {
    border: none !important;
  }

  // *** Sign in btn ***
  .o_no_autohide_item {
    .dropdown-toggle, .nav-link {
      padding: 10px 18px;
      margin: 0.5rem;
      background-color: o-color('o-color-3');
    }
    .dropdown-toggle::before, .nav-link::before {
      content: '';
      display: inline-block;
      vertical-align: -0.75px;
      width: 15px;
      height: 15px;
      margin: 0 10px 0 0;
      background-image: url('/web/image/website_airproof_ecommerce.img_user');
    }
    .dropdown-toggle::after {
      display: none;
    }
  }

  .my_cart_quantity, .my_wish_quantity  {
    height: 18px;
    width: 18px;
    background-color:  o-color('o-color-3');
    border-radius: 99px;
    color: black;
  }

  .navbar-toggler-icon {
    margin: 0.5rem;
  }

  .o_wsale_my_cart {
    align-self: center !important;
    padding: 0.5rem;
  }

  .fa-heart:before {
    content: "\f08a";
  }

}
  